* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.foto {
  width: 100%;
}

.container {
  display: none;
  background: #222;
  padding: 50px;
  min-width: 350px !important;
  opacity: 0.8;
}

.col-xxl-6 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}

.foto-block {
  box-shadow: 5px 5px 5px gray;
  border-radius: 50px;
  margin: 10px;
  background: #000;
  border: 5px dotted red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  padding: 10px;
}

body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-dual-ring {
  margin: calc(50vh - 40px) auto;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--nav--begin*/
.circle {
  position: relative;
  width: 60px;
  height: 60px;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 2px 2px 10px gold;
  animation: rotation 10s infinite alternate;
}

.circle:hover {
  box-shadow: 2px 2px 10px green;
}

.circle:active {
  transform: scale(0.9);
}

i {
  font-size: 40px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    background: gold;
  }

  to {
    transform: rotate(360deg);
    background: green;
  }
}

.nav {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

.nav-group {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

.col-nav-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 200px;
  animation: rotation 20s infinite alternate-reverse;
  border-radius: 50px;
}

.row-nav-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 50px;
  animation: rotation 20s infinite alternate;
  border-radius: 50px;
}

.cross,
.bar {
  box-shadow: 2px 2px 10px red;
  position: absolute;
  z-index: 2;
  animation: none;
}

.navigation {
  display: flex;
  justify-content: center;
}

/*--nav--end*/